$primary-background-color: bisque;
$primary-button-color: thistle;
$border-color: violet;
$title-color: black;
$grey: lightslategray;
$primary-accent-color: Rosybrown;
$selected-link-color: #489c79;
$visited-color: #05676e;
$font-weight: bold;

#bootstrap-overrides {
  .row {
    flex-wrap: nowrap;
  }
}
.profile-logout-btns-mobile,
.profile-logout-btns-desktop {
  border-bottom: 1px solid rosybrown;
  margin-bottom: 20px;
}

@media (max-width: 1007px) {
  #bootstrap-overrides {
    .row {
      flex-wrap: wrap;
    }
    .profile-logout-btns-mobile {
      display: block !important;
    }
    .profile-logout-btns-desktop {
      display: none !important;
    }
  }
}
