$primary-background-color: bisque;
$primary-button-color: thistle;
$border-color: violet;
$title-color: black;
$grey: dimgrey;
$primary-accent-color: Rosybrown;
$selected-link-color: #489c79;
$visited-color: #05676e;
$font-weight: bold;
$card-background-color: whitesmoke; //rgb(229, 253, 247);

.modal-content {
  background-color: $card-background-color;
  text-align: center;
  .modal-header {
    justify-content: center;
  }
  .btn {
    width: 100%;
  }
}
