#bootstrap-overrides {
  .movie-view {
    margin-top: 20px;
  }
  .movie-data {
    button.btn.btn-link {
      margin: 0px;
      width: 50%;
    }
    .value {
      margin-bottom: 15px;
    }
    .card-text {
      font-weight: bold;
      .value {
        font-weight: 400;
      }
    }
  }
  .movie-poster {
    button.btn.btn-link,
    button.btn.btn-info,
    button.btn.btn-danger,
    button.btn.btn-secondary {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}
