$primary-background-color: bisque;
$primary-button-color: thistle;
$border-color: violet;
$title-color: palevioletred;
$grey: lightslategray;
$primary-accent-color: Rosybrown;
$selected-link-color: #489c79;
$visited-color: #05676e;
$font-weight: bold;

.title {
  font-family: 'Luckiest Guy', cursive;
  color: $title-color;
  font-size: 6rem;
}

#bootstrap-overrides .form-control {
  border: 1px solid $grey;
}

#bootstrap-overrides .btn-info {
  background-color: $primary-button-color;
}
