$primary-background-color: bisque;
$primary-button-color: thistle;
$border-color: violet;
$title-color: black;
$grey: lightslategray;
$primary-accent-color: Rosybrown;
$selected-link-color: #489c79;
$visited-color: #05676e;
$font-weight: bold;

#bootstrap-overrides {
  .form-control {
    border: 1px solid $grey;
  }
}
