$grey: violet;

#bootstrap-overrides {
	.login-container {
		padding-top: 11rem;
	}
	.form-control {
		border: 1px solid $grey;
	}
}
@media (max-width: 1007px) {
	#bootstrap-overrides {
		.login-container {
			padding-top: 8rem;
		}
	}
}
