// $primary-background-color: bisque;
$primary-background-color: #000000;
$primary-background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
// $primary-background-image: linear-gradient(-147deg, #434343 0%, #000000 74%);

$primary-button-color: thistle;

$secondary-button-color: red;
$border-color: violet;
$title-color: #d100d1;

$grey: dimgrey;

$selected-link-color: #489c79;
$visited-color: #05676e;
$font-weight: bold;
$card-background-color: whitesmoke; //rgb(229, 253, 247);
@-ms-viewport {
	width: device-width;
}
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: $primary-background-color;

	background-image: $primary-background-image;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
}

#bootstrap-overrides {
	.app-container {
		// background-color: $primary-background-color;
		// background-image: $primary-background-image;

		height: 100%;
	}
	.btn {
		font-size: larger;
		border-color: $border-color;
		padding: 10px;
		margin: 4px;
	}
	.btn-info {
		background-color: $primary-button-color;
	}
	button.btn.btn-secondary {
		background-color: $primary-background-color;
	}
	button.btn.btn-link,
	button.btn.btn-info,
	button.btn.btn-danger,
	button.btn.btn-secondary {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
	}
	img {
		border-style: solid;
		border-color: $border-color;
	}
	.card {
		background-color: $card-background-color;
		border-color: $border-color;
		min-width: 14rem;
		margin: 10px;
		.card-body {
			background-color: $card-background-color;
		}
		.card-header {
			font-size: 3rem;
		}
		.card-title {
			padding-top: 10px;
		}
		.card-subtitle {
			color: $grey;
			padding-bottom: 10px;
			font-size: 1.4em;
		}
	}
}
